<!DOCTYPE html>
<html>

<head>
    <title>
        CR's Dashboard | Inventory - The Bulletin
    </title>
    <link rel="icon" href="../assets/icon.jpg" />
    <link href="../CSS/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<style>
    #inventory {
        text-decoration: none;
        color: white;
        background-color: rgba(175, 175, 175, 0.5);
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <sidebar>
        <h3>Dashboard</h3>
        <a id="notices" href="CR_notices.html"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;Notices</a>
        <a id="discussion" href="CR_discussion.html"><i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;Discussion</a>
        <a id="inventory"><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Inventory</a>
        <hr>
        <a id="profile" href="profile.html"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a>
        <a id="contact" href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;Contact</a>
        <a id="logout" href="login.html"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Log Out</a>
    </sidebar>
    <main>
        <h1>THE BULLETIN</h1>
        <h3>Stay connected anywhere and anytime!</h3>
        <section>
            <a href="#"><button class="btn btn-primary" id="add_button">Add</button></a>
            <a href="#"><button class="btn btn-primary" id="delete_button">Delete</button></a>
            <invent>
                <h5>
                    invent 1
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic recusandae iusto ipsum similique quae porro consequuntur ipsam aut quasi, est harum, pariatur impedit suscipit dolorum molestias quisquam nesciunt temporibus omnis.
                </p>
                <button class="btn">
        <a>View</a>
    </button>
            </invent>
            <invent>
                <h5>
                    invent 2
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab saepe cumque voluptate iste ad, deserunt quasi praesentium nostrum mollitia. At unde consequatur cumque repellat, quod provident nemo commodi neque recusandae.
                </p>
                <button class="btn">
        <a>View</a>
    </button>
            </invent>
            <invent>
                <h5>
                    invent 3
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti laudantium, eius unde vero ratione fugiat vel distinctio, quas laboriosam at maiores a corporis incidunt aliquam, autem architecto sit veniam. Similique.
                </p>
                <button class="btn">
        <a>View</a>
    </button>
            </invent>
            <invent>
                <h5>invent 4

                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui exercitationem unde vel, saepe, nemo ipsa dolorum. Natus molestiae porro ipsa aliquid nemo alias iusto iure, quis dolore aperiam, voluptates obcaecati.
                </p>
                <button class="btn">
        <a>View</a>
    </button>
            </invent>
            <invent>
                <h5>invent 5

                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum dolorum odit cupiditate aperiam nesciunt, reiciendis assumenda sint quaerat facilis et ut, dolores unde tenetur illo nobis quae ullam deleniti!

                </p>
                <button class="btn">
       <a>View</a>
    </button>
            </invent>
            <invent>
                <h5>
                    invent 6
                </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis alias enim vitae natus non, quam asperiores corrupti magni dignissimos amet a. Adipisci animi ipsam, velit expedita fuga aspernatur quisquam consequuntur!

                </p>
                <button class="btn">
        <a>View</a>
    </button>
            </invent>
        </section>
    </main>
</body>

</html>
