<!DOCTYPE html>
<html>

<head>
    <title>
        CR's Dashboard | Notices - The Bulletin
    </title>
    <link rel="icon" href="../assets/icon.jpg" />
    <link href="../CSS/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<style>
    #notices {
        text-decoration: none;
        color: white;
        background-color: rgba(175, 175, 175, 0.5);
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<body>
    <sidebar>
        <h3>Dashboard</h3>
        <a id="notices"><i class="fa fa-newspaper-o"></i>&nbsp;&nbsp;&nbsp;Notices</a>
        <a id="discussion" href="CR_discussion.html"><i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;Discussion</a>
        <a id="inventory" href="CR_inventory.html"><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Inventory</a>
        <hr>
        <a id="profile" href="profile.html"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Profile</a>
        <a id="contact" href="#"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;Contact</a>
        <a id="logout" href="login.html"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Log Out</a>
    </sidebar>
    <main>
        <h1>THE BULLETIN</h1>
        <h3>Stay connected anywhere and anytime!</h3>
        <section>
            <a href="#"><button class="btn btn-primary" id="add_button">Add</button></a>
            <a href="#"><button class="btn btn-primary" id="delete_button">Delete</button></a>
            <item>
                <h5>Heading 1</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam ipsa aspernatur impedit. Dolore esse labore exercitationem nostrum sint impedit odio, aut minima, perspiciatis laborum rem possimus quisquam neque eius autem?</p>
            </item>
            <item>
                <h5>Heading 2</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptas obcaecati porro omnis fugiat voluptatibus eligendi similique eveniet quos, tempora ab ullam mollitia nobis aliquid vitae fuga labore. Repellendus, vel!</p>
            </item>
            <item>
                <h5>Heading 3</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus reprehenderit, sapiente sunt repellendus minus asperiores. Rem consectetur, fugit enim cupiditate, vitae modi voluptates quidem repellat in nam quas eos magni.
                </p>
            </item>
            <item>
                <h5>Heading 4</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, nemo, veniam? Modi reiciendis magnam voluptate nesciunt dolorem, quos aliquam alias vel fugit incidunt expedita velit atque doloribus ea, eos obcaecati.</p>
            </item>
        </section>
    </main>
</body>

</html>
