<!DOCTYPE html>
<html>

<head>
    <link href="../CSS/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <title>
        Error - The Bulletin
    </title>
    <style>
        body {
            background-color: #eee;
        }

    </style>
</head>

<body class="container">
    <div class="row error_body">
        <img class="error_img col-xs-6" src="assets/error3.gif" type="img/gif" />
        <div class="error_text col-xs-6">
            <h1>ERROR</h1>
            <h3>It broke down<br>Sorry for the inconvenience caused</h3>
            <button class="btn">
        <a href="#">Retry</a>
    </button>
        </div>
    </div>
</body>

</html>
